@import url(../fonts/style.css);

html {
    font-family: sans-serif;
    font-weight: 400;
}

body {
    background-image: url(../pictures/bg.webp);
    background-size: cover;
    background-attachment: fixed;
}

.card-container {
    display: flex;
    overflow-x: auto;
}

.card-img {
    object-position: top;
    object-fit: cover;
    margin-top: -8em;
    border-radius: 100%;
    margin-left: 2em;
    margin-right: 2em;
    border: .2em solid white;
    height: 12em;
    width: 12em;
    box-shadow: .1rem .1rem .75rem .01rem #888888;
}

.header__name {
    padding-bottom: .75em;
    font-weight: bold;
    border-bottom: 1.5px solid #000000;
    font-size: larger;
}

.card {
    padding: 2em;
    background-color: white;
    box-shadow: .5rem .2rem .9rem .2rem #888888;
    max-width: 30em;
    margin-top: 10em;
}

.icons {
    padding-right: .75em;
    font-size: 1.2em;
}

.card__header {
    overflow: visible;
}